<div id="yield">
  <div class="chart-box">
    <div id="bullet-head">
      <h1>Top 5 Likers</h1>
    </div>
    <div class="canvas-container">
      <canvas class="chart" id="likepf" width="300" height="500"></canvas>
    </div>
  </div>

  <div class="chart-box">
    <div id="bullet-head">
      <h1>Luv&Sh!t</h1>
    </div>
    <div class="canvas-container">
      <canvas class="chart" id="myChart9" width="300" height="300"></canvas>
    </div>
  </div>

  <div class="chart-box">
    <div id="bullet-head">
      <h1>Lingo</h1>
    </div>
    <div class="canvas-container">
      <canvas class="chart" id="myChart6" width="300" height="300"></canvas>
    </div>
  </div>

  <div class="chart-box">
    <div id="bullet-head">
      <h1>Sh!t U Like</h1>
    </div>
    <div class="canvas-container">
      <canvas class="chart" id="myChart7" width="300" height="300"></canvas>
    </div>
  </div>

  <!-- <div class="chart-box">
    <div id="bullet-head">
      <h1>Hometowns</h1>
    </div>
    <div class="canvas-container">
      <canvas class="chart" id="myChart8" width="300" height="300"></canvas>
    </div>
  </div> -->

  <div class="chart-box">
    <div id="bullet-head">
      <h1>s3x&Sh!t</h1>
    </div>
    <div class="canvas-container">
      <canvas class="chart" id="myChart10" width="300" height="300"></canvas>
    </div>
  </div>

  <div class="chart-box">
    <div id="bullet-head">
      <h1>TOP 5 TAGEES</h1>
    </div>
    <div class="canvas-container">
      <canvas class="chart" id="tagpf" width="300" height="500"></canvas>
    </div>
  </div>

  <div class="chart-box">
    <div id="bullet-head">
      <h1>TOTAL LIKES</h1>
    </div>
    <div class="canvas-container">
      <h1> <div id="number"></div> </h1>
    </div>
  </div>

</div>
