<!-- MOCK GRAPHS -->
<div id="yield">
  <canvas class="chart" id="myChart2" width="200" height="200"></canvas>

  <canvas class="chart" id="myChart" width="250" height="200"></canvas>

  <canvas class="chart" id="myChart3" width="300" height="250"></canvas>
  <br><br>
  <canvas class="chart" id="myChart4" width="200" height="200"></canvas>

  <canvas class="chart" id="myChart5" width="200" height="200"></canvas>

  <canvas class="chart" id="myChart6" width="200" height="200"></canvas>
</div>