<div id="yield">

  <div class="chart-container">

    <div class="chart-box">
      <h1>Top 5 Likers</h1>
      <canvas class="chart" id="likepf" width="400" height="400"></canvas>
    </div>

    <div class="chart-box">
      <h1>Luv&Sh!t</h1>
      <canvas class="chart" id="myChart9" width="400" height="400"></canvas>
    </div>

    <div class="chart-box">
      <h1>Social Butterfly</h1>
      <canvas class="chart" id="myChart3"></canvas>
    </div>

    <div class="chart-box">
      <h1>Photogenic?</h1>
      <canvas class="chart" id="myChart4" width="400" height="400"></canvas>
    </div>

<<<<<<< HEAD
    <p id="graph">&nbsp;&nbsp;WHERE PEEPZ@<br>
=======
    <div class="chart-box">
      <h1>WHERE PEEPZ @?</h1>
>>>>>>> cbecd1c95855c275118a66afcef19641e4053c5b
      <canvas class="chart" id="myChart5" width="400" height="400"></canvas>
    </div>

    <div class="chart-box">
      <h1>Lingo</h1>
      <canvas class="chart" id="myChart6" width="400"></canvas>
    </div>

    <div class="chart-box">
      <h1>Sh!t U Like</h1>
      <canvas class="chart" id="myChart7" width="400"></canvas>
    </div>

    <div class="chart-box">
      <h1>Hometowns</h1>
      <canvas class="chart" id="myChart8" width="400"></canvas>
    </div>

    <div class="chart-box">
      <h1>s3x&Sh!t</h1>
      <canvas class="chart" id="myChart10" width="400"></canvas>
    </div>

    <div class="chart-box">
      <h1>F**king Vulger</h1>
      <canvas class="chart" id="myChart"></canvas>
    </div>

    <div class="chart-box">
      <h1>Total Likes</h1>
      <canvas class="chart" id="likes" width="400"></canvas>
    </div>

    <div class="chart-box">
      <h1>Total Comments</h1>
      <canvas class="chart" id="comments" width="400"></canvas>
    </div>

    <div class="chart-box">
      <h1>U A Funny Sh!t</h1>
      <canvas class="chart" id="myChart2" width="400">></canvas>
    </div>

<<<<<<< HEAD
    <p id="graph">&nbsp;&nbsp;TOP 5 TAGEES<br>
      <canvas class="chart" id="tagpf" width="400" height="400"></canvas>
    </p>

=======
  </div>
>>>>>>> cbecd1c95855c275118a66afcef19641e4053c5b
</div>
