<div id="yield">
  <div id="chart"></div>
    <p>&nbsp;&nbsp;F*CKING VULGAR<br>
      <canvas class="chart" id="myChart" width="400" height="400"></canvas>
    </p>

    <p>&nbsp;&nbsp;U A FUNNY SH!T<br>
      <canvas class="chart" id="myChart2" width="400" height="400"></canvas>
    </p>

    <p>&nbsp;&nbsp;SOCIAL BUTTERFLY<br>
      <canvas class="chart" id="myChart3" width="400" height="400"></canvas>
    </p>

  <div id="chart2"></div>
    <p>&nbsp;&nbsp;PHOTOGENIC?<br>
      <canvas class="chart" id="myChart4" width="400" height="400"></canvas>
    </p>

    <p>&nbsp;&nbsp;WHERE PEEPZ @<br>
      <canvas class="chart" id="myChart5" width="400" height="400"></canvas>
    </p>

    <p>&nbsp;&nbsp;LINGO<br>
      <canvas class="chart" id="myChart6" width="400" height="400"></canvas>
    </p>

  <div id="chart3"></div>
    <p>&nbsp;&nbsp;SH!T U LIKE<br>
      <canvas class="chart" id="myChart7" width="400" height="400"></canvas>
    </p>

    <p>&nbsp;&nbsp;HOMETOWNS<br>
      <canvas class="chart" id="myChart8" width="400" height="400"></canvas>
    </p>

    <p>&nbsp;&nbsp;LUV&SHIT<br>
      <canvas class="chart" id="myChart9" width="400" height="400"></canvas>
    </p>

  <div id="chart4"></div>
  <p>&nbsp;&nbsp;S3X&SHIT<br>
    <canvas class="chart" id="myChart10" width="400" height="400"></canvas>
  </p>

    <canvas class="chart" id="myChart11" width="400" height="400"></canvas>
    <canvas class="chart" id="myChart12" width="400" height="400"></canvas>
</div>
