<div class="main-body-login">
    <div id="login-modal">
      <p class="login-txt">Visualize your facebook stuff</p>
      <p class="login-bodytxt">Login with facebook to see your friends, events, pictures, and tags aggregated and displayed as interesting charts and graphs.</p>
      <div id="login-img-container">
      <%= link_to(image_tag("fb-login.png"), "/auth/facebook", id: "sign_in") %>
      <div>
    </div>
</div>