/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /*
SOFT SIDEBAR        #f2f2f2
SIDEBAR             #fff
SIDEBAR TXT         #b3b3b1
LOGO GREY           #898989
SIDEBAR TXT:HOVER;  #fff
PINK:               #DF314D;
 */

body, html {
  margin: 0;
  font-family: helvetica;
  font-weight: 100;
  background-color: #f2f2f2;
}

html {
}

/*#logo {
  margin-bottom: 3em;
}*/

.container {
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-transition:  left 0.4s ease-in-out;
  -moz-transition:  left 0.4s ease-in-out;
  -ms-transition:  left 0.4s ease-in-out;
  -o-transition:  left 0.4s ease-in-out;
  transition:  left 0.4s ease-in-out;
}

.container {
  background: #f2f2f2;
}

/***********************GENERAL SIDEBAR ***************************/

.container.open-sidebar {
  left: 240px;
}

.main-content #sidebar-toggle {
  background: #DF314D;
  border-radius: 3px;
  display: block;
  position: relative;
  padding: 10px 7px;
  float: left;
}

.main-content #sidebar-toggle .bar{
  display: block;
  width: 18px;
  margin-bottom: 3px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}

.main-content #sidebar-toggle .bar:last-child{
  margin-bottom: 0;
}

.swipe-area {
  position: absolute;
  width: 50px;
  left: 0;
  top: 0;
  height: 100%;
  background: #f3f3f3;
  z-index: 0;
}

#sidebar {
  background: #fff;
  position: absolute;
  width: 240px;
  height: 100%;
  left: -240px;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
}

/*************************SIDEBAR CONTENT***********************/

/* current user */

.current-user {
  margin-left: 1em;
  height: 3.3em;
  margin-top: 12px;
  margin-bottom: 12px;
}

#name {
  font-size: .9em;
  font-family: 'Helvetica Neue';
  font-weight: bold;
  color: #898989;
  float: left;
  position: relative;
  width: 147px;
  margin-left: 1em;
  padding-top: 3px;
  margin-bottom: -2px;
}

.current-user img {
  border-radius: 100%;
  height: 2.5em;
  float: left;
}

#sign_out {
  margin-left: 1.3em;
  font-size: .7em;
  text-decoration: none;
  font-family: 'arial';
  color: #b3b3b1;
}

#sign_out:hover {
  color: #DF314D;
}

/*friends on chartify*/

#chartifyarea {
  margin-left: 21px;
  height: 40%;
}

#chartify-header {
  font: .75em Arial;
  text-transform: uppercase;
  color: #b3b3b1;
  clear: both;
}

#chartifysearch {
  width: 179px;
}

#chartifyarea input {
  margin-top: 1em;
  clear: both;
  margin-bottom: 1em;
}

#chartifyField {
  position: relative;
  height: 9.6em;
  overflow: scroll;
}

.chartifyresults li {
  height: 2em;
  text-decoration: none;
  display: block;
  padding-left: .6em;
  padding-top: .3em;
  clear: both;
  -moz-border-radius-topleft: 50px;
  border-top-left-radius: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-bottom-left-radius: 50px;
  /*border-bottom: 1px solid #C9223D;*/
  -webkit-transition:  background 0.3s ease-in-out;
  -moz-transition:  background 0.3s ease-in-out;
  -ms-transition:  background 0.3s ease-in-out;
  -o-transition:  background 0.3s ease-in-out;
  transition:  background 0.3s ease-in-out;
}

.chartifyresults li:hover {
  background: #f2f2f2;
  color: #DF314D;
}

.chartifyresults li a {
  text-decoration: none;
  display: block;
  color: #b3b3b1;
}

.chartifyresults img {
  border-radius: 100%;
  height: 1.6em;
  float: left;
}

#chartifyresults-name {
  font-size: .8em;
  font-family: 'helvetica';
  color: #898989;
  float: left;
  position: relative;
  width: 160px;
  margin-left: 1em;
  padding-top: 6px;
}

/*invite friends*/

#search {
  width: 179px;
}

#searcharea {
  /*  background: #f2f2f2;*/
  margin-left: 21px;
  position: absolute;
  bottom: 0;
  height: 14em;
  background-color: #fff;
}

#searchField {
  position: relative;
  height: 8.3em;
  overflow: scroll;
}

#search-header {
  font: .75em Arial;
  text-transform: uppercase;
  color: #b3b3b1;
  margin-top: .9em;
  clear: both;
}

#searcharea input {
  margin-top: .9em;
  clear: both;
  margin-bottom: .9em;
}

#searchresults-checkbox {
  margin-right: .5em;
}

.searchresults li {
  height: 2em;
  display: block;
  padding-top: .3em;
  clear: both;
}

.searchresults li a {
    text-decoration: none;
    display: block;
    color: #b3b3b1;
}

.searchresults li a:hover {
  color: #DF314D;
}

.searchresults img {
  border-radius: 100%;
  height: 27px;
  float: left;
}

#searchresults-name {
  font-size: .8em;
  font-family: 'arial';
  color: #898989;
  float: left;
  position: relative;
  width: 11.5em;
  margin-left: 1em;
  padding-top: 5px;
}

/*************************MAIN BODY**********************/

.main-content {
  background-color: #f2f2f2;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: scroll;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}

/***********************LOGIN PAGE**************************/

.main-body {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}

.main-body {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}

.main-body-login {
  width: 100%;
  min-height: 600px;
  position: relative;
  background-attachment: scroll;
  overflow: scroll;
  display: block;
  padding: 10px;
  background-image:url('carleyJepson.jpg');
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#login-modal {
  margin-left: auto;
  margin-right: auto;
  margin-top: 18px;
  height: 190px;
  background-color: #fff;
  width: 80%;
  border-radius: 1%;
}

#login-modal p {
  font-family: 'verdana';
  text-align: center;
  font-weight: bold;
  color: #898989;
  font-size: 1.3em;
  margin-top: .6em;
  padding-top: .9em;
}

#login-img-container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 230px;
}

#login-modal img {
  width: 100%;
}

.main-body .content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 60px;
  width: 100%;
}

.main-body .content h1 {
  font-weight: 100;
}

.main-body .content p {
  width: 100%;
  line-height: 160%;
}

#header {
  height: 3.6em;
}

#logo {
  margin: auto;
  width: 221px;
}

#logo img {
  padding-top: .3em;
  width: 221px;
}

/*************************Charts**********************/


.chart-box {
  float: left;
  margin-left: .2%;
  margin-right: 1%;
  margin-bottom: 2%;
  padding-bottom: .9%;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.chart-box:after {
  clear: both;
}

.canvas-container {
   width: 100%;
   text-align:center;
}

.chart {
  display: inline;
  margin-left: .6em;
  margin-right: .6em;
}

#bullet-head {
  background-color: #f8f6f6;
  height: 1.6em;
  padding-top: .5em;
  margin-bottom: .6em;
}

.chart-box h1 {
  font-size: 1em;
  margin-top: 0;
  font-family: 'helvetica';
  width: 230px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  color: #b3b3b1;
}
